@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial-italic.ttf);
  font-weight: normal;
  font-style: italic;
}

.btn {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn_transparent {
  background-color: #FAFAFA;
  border: 3px solid #F1CDB3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #4c4c4c;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  margin-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-primary */
  color: #545454;
}

.header__subtitle {
  margin: 0;
  padding-left: 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #545454;
}

.header__menu {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu__item {
  margin-left: 35px;
}

.menu__item:nth-child(2) a {
  padding-bottom: 5px;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  text-decoration: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-dark-s */
  color: #545454;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  cursor: pointer;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#5b483a), to(#262425));
  background: linear-gradient(to right, #5b483a, #262425);
}

.footer__three-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__column-title {
  margin-bottom: 40px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-light-xl */
  color: #ffffff;
}

.footer__first-column-item {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

.footer__first-column-item a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

.footer__second-column-item {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
  margin-bottom: 60px;
}

.footer__second-column-item a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}
/*# sourceMappingURL=style.css.map */