@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial-italic.ttf);
  font-weight: normal;
  font-style: italic;
}

.btn {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #f1cdb3;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn_transparent {
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
}

.round-button {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
}

.round-button_disabled {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
}

.round-button:hover {
  cursor: pointer;
  background-color: #F1CDB3;
}

.round-button_static {
  background-color: #F1CDB3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #4c4c4c;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

@media (max-width: 992px) {
  .container {
    max-width: 708px;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  margin-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-primary */
  color: #545454;
}

.header__subtitle {
  margin: 0;
  padding-left: 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #545454;
}

.header__menu {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__burger {
    margin-right: 43px;
  }
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .burger {
    width: 30px;
    height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #545454;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu__item {
  margin-left: 35px;
}

.menu__item:nth-child(2) a {
  padding-bottom: 5px;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  text-decoration: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  cursor: pointer;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#5b483a), to(#262425));
  background: linear-gradient(to right, #5b483a, #262425);
}

.footer__three-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .footer__three-columns {
    margin-top: 18px;
    padding: 0 34px;
  }
}

@media (max-width: 767px) {
  .footer__three-columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 320px) {
  .footer__three-columns {
    padding: 0;
  }
}

.footer__column a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

@media (max-width: 320px) {
  .footer__column a {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .footer__column:first-child {
    margin-top: 15px;
    margin-right: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }
  .footer__column:first-child .footer__second-column-item {
    padding-right: 40px;
  }
}

@media (max-width: 992px) {
  .footer__column:first-child {
    margin-top: 15px;
    margin-right: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }
  .footer__column:first-child .footer__second-column-item {
    padding-right: 40px;
  }
}

@media (max-width: 992px) and (max-width: 320px) {
  .footer__column:first-child .footer__second-column-item {
    padding-right: 0;
  }
}

@media (max-width: 992px) and (max-width: 320px) {
  .footer__column:first-child {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .footer__column:first-child {
    margin-top: 0px;
    margin-right: 0px;
  }
}

.footer__column:nth-child(2) {
  margin-top: 10px;
}

.footer__column:nth-child(2) .footer__column-title {
  margin-bottom: 30px;
}

.footer__column:nth-child(2) .footer__first-column-item {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .footer__column:nth-child(2) {
    margin-top: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
  .footer__column:nth-child(2) .footer__first-column-item {
    padding-right: 5px;
  }
}

@media (max-width: 767px) {
  .footer__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 992px) {
  .footer__column:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .footer__column:last-child {
    margin-top: 45px;
    text-align: center;
    width: 96.875%;
  }
}

.footer__column:last-child img {
  width: 100%;
}

.footer__column-title {
  margin-top: 16px;
  margin-bottom: 40px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-light-xl */
  color: #ffffff;
}

@media (max-width: 320px) {
  .footer__column-title {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
}

.footer__first-column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

@media (max-width: 320px) {
  .footer__first-column-item {
    text-align: center;
  }
}

.footer__first-column-item a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

.footer__second-column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
  margin-bottom: 60px;
}

@media (max-width: 320px) {
  .footer__second-column-item {
    margin-bottom: 20px;
  }
}

.footer__second-column-item a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

.our-pets {
  background-color: #f6f6f6;
}

.our-pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 100px 0;
}

@media (max-width: 1279px) {
  .our-pets__container {
    padding: 80px 0 75px 0;
  }
}

@media (max-width: 320px) {
  .our-pets__container {
    padding: 40px 0 75px 0;
  }
}

.our-pets__title {
  max-width: 33.33333%;
  margin: 0 auto 45px auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

@media (max-width: 768px) {
  .our-pets__title {
    max-width: 100%;
    margin: 0 auto 30px auto;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.our-pets__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
  margin-bottom: 45px;
}

@media (max-width: 1279px) {
  .our-pets__items {
    padding: 0 64px;
    gap: 30px 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 720px) {
  .our-pets__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our-pets__item {
  border-radius: 9px;
  max-width: 22.5%;
  background-color: #fafafa;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.our-pets__item:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.our-pets__item:hover .our-pets__button a {
  background-color: #f1cdb3;
}

@media (max-width: 1279px) {
  .our-pets__item:nth-child(7), .our-pets__item:last-child {
    display: none;
  }
  .our-pets__item {
    min-width: 270px;
  }
}

@media (max-width: 720px) {
  .our-pets__item:nth-child(4), .our-pets__item:nth-child(5), .our-pets__item:nth-child(6), .our-pets__item:nth-child(7), .our-pets__item:last-child {
    display: none;
  }
  .our-pets__item {
    min-width: 270px;
  }
}

.our-pets__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-pets__name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  margin: 23px 0 30px 0;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.our-pets__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.our-pets__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .our-pets__navigation {
    gap: 10px;
  }
}
/*# sourceMappingURL=style.css.map */