@import "../../assets/styles/fonts";
@import "../../assets/styles/forms";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24/15 * 100%;
  color: #4c4c4c;
}

body {
 
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  // padding: 0 40px;

}
// break points
$bp1: 1279;
$bp2: 1086;
$bp3: 992;
$bp4: 767;
$bp5: 320;

.container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 40px;
  @media (max-width: $bp3+px) {
    & {
      max-width: 708px;

      padding: 0 30px;
    }
  }
  overflow: hidden;
  @media (max-width: $bp4+px) {
    & {
      max-width: none;

      padding: 0 10px;
    }
  }
}

.main {
  flex: 1 1 auto;
}

.header {
  background: linear-gradient(to right, #5b483a, #262425);
 
  // margin: 60px 0;
  
  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (max-width: $bp1+px) {
      margin-top: 30px;
    }
    @media (max-width: $bp4+px) {
      margin-bottom: 0;
    }
  }
  // .header__logo
  &__logo {
    
    display: flex;
    flex-direction: column;
    z-index: 6;
    transition: all 3s;
    @media (max-width: $bp4+px) {
      
      &_active {
        position: absolute;
        right: 126px; 
      }
    }
  }
  // .header__title
  &__title {
    margin-bottom: 10px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-primary */

    color: #f1cdb3;
  }
  // .header__subtitle
  &__subtitle {
    margin: 0;
    padding-left: 4px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  // .header__menu
  &__menu {
    margin-left: auto;
  }
  &__burger {
    @media (max-width: $bp4+px) {
      margin-right: 43px;
    }
  }
}

.burger {
  z-index: 5;
  display: none;
  transition: all 0.8s;
  @media (max-width: $bp4+px) {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-left: 43px;
    // .burger__line
    &__line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #f1cdb3;
    }
    
  &_active {
     transform: rotate(90deg);
      position: absolute;
      right: 58px;
      margin-right: 0; 
  }
  
}
}

.sticky {
  position: sticky;
  top: 0;
}

.hidden {
  overflow: hidden;
}



.menu {
  // .menu__list
  z-index: 10;
  @media (max-width: $bp4+px) {
    transform: translate(100%, 0);
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    
    width: 320px;
    height: 100vh;
    overflow: auto;
    background-color: #262425;
    padding: 248px 38px 0 38px;
    overflow: auto;
    
    transition: transform 0.8s ease 0s;
    
   
    &_active {
      transform: translate(0px, 0%);
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    @media (max-width: $bp4+px) {
      flex-direction: column;
    }
  }

  // .menu__item
  &__item {
    margin-left: 35px;
    &:first-child a {
      padding-bottom: 3px;
      border-bottom: 3px solid #f1cdb3;
    }
    @media (max-width: $bp4+px) {
      font-family: "Arial";

      font-size: 32px;
      line-height: 160%;
      margin-left: 0;
      margin-bottom: 40px;
    }
  }

  // &__item

  // .menu__link
  &__link {
    text-decoration: none;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */

    /* color-dark-s */

    color: #cdcdcd;
    transition: all 0.8s ease 0s;
    scroll-behavior: smooth;
    &:hover {
      cursor: pointer;
    }

    @media (max-width: $bp4+px) {
      font-family: "Arial";

      font-size: 32px;
      line-height: 160%;

      color: #fafafa;
    }
  }
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

.start-screen {
  background: linear-gradient(to right, #5b483a, #262425);
  height: (728/1200) * 100%;
  // .start-screen__container
  &__two-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $bp3+px) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: $bp4+px) {
      align-items: center;
    }
  }
  &__container {
  }

  // .start-screen__content
  &__content {
    @include flexColumn();
    // justify-content: space-around;
    // max-width: 460/1200 * 100%;
    width: 460/1200 * 100%;

    // flex: 1 0 (460/1200) * 100%;
    margin-top: 163px;
    margin-right: 42px;
    // margin-bottom: 243px;
    padding: 0;
    @media (max-width: $bp2+px) {
      margin-top: 120px;
    }
    @media (max-width: $bp3+px) {
      width: 460/708 * 100%;
      margin-left: 124px;
      margin-top: 0;
      margin-bottom: 100px;
    }
    @media (max-width: $bp4+px) {
      margin: 60px 0 0 0;
    }
    @media (max-width: $bp5+px) {
      width: 100%;
      padding: 0 10px;
    }
  }
  // .start-screen__title
  &__title {
    margin-bottom: 0px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;

    color: #ffffff;
    @media (max-width: $bp5+px) {
      font-size: 25px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.06em;
    }
  }
  // .start-screen__description
  &__description {
    margin-top: 42px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */

    display: flex;
    align-items: center;

    /* color-dark-s */

    color: #cdcdcd;
    @media (max-width: $bp5+px) {
      text-align: center;
    }
  }
  // .start-screen__button
  &__button {
    margin-top: 42px;
    margin-bottom: 0;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: $bp3+px) {
      & {
        display: flex;
        justify-content: center;
      }
    }
  }
  // .start-screen__img
  &__img {
    // height: ;
    width: (698/1200) * 100%;
    margin-bottom: 0;

    height: 728px;
    @media (max-width: $bp1+px) {
      height: (728/1200) * 100%;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
    @media (max-width: $bp3+px) {
      & {
        margin-left: 139px;
        width: (569/708) * 100%;
        height: 596px;
      }
    }
    @media (max-width: $bp4+px) {
      & {
        margin-left: 0;
        margin-top: 50px;
        width: 100%;
        height: 100%;
      }
    }
    @media (max-width: $bp5+px) {
      & {
        margin-left: 40px;
        margin-top: 105px;
        height: 270px;
      }
    }
  }
}

.overlay {
  display: none;
  position: absolute; 
    left: 0; right: 0; top: 0; bottom: 0; 
  background: rgba(41, 41, 41, 0.6);
}

.display-block {
  display: block;
}



.about-the-shelter {
  // .about-the-shelter__two-columns
  &__two-columns {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 80px 0 95px 0;
    @media (max-width: $bp3+px) {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      gap: 80px;
    }
    @media (max-width: $bp5+px) {
      padding: 42px 0 35px 0;
      gap: 42px;
    }
  }
  // .about-the-shelter__img
  &__img {
    @media (max-width: $bp5+px) {
      & img {
        width: (260/320) * 100%;
        margin-left: 30px;
      }
    }
  }
  // .about-the-shelter__content
  &__content {
    @include flexColumn();
    padding: 14px 0;
    width: (430/1200) * 100%;
    @media (max-width: $bp3+px) {
      padding: 0;
      width: (430/708) * 100%;
    }
    @media (max-width: $bp5+px) {
      width: (270/320) * 100%;
    }
  }
  // .about-the-shelter__title
  &__title {
    margin-bottom: 25px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    letter-spacing: 0.06em;
    color: #545454;
    @media (max-width: $bp5+px) {
      font-size: 25px;
      line-height: 130%;
      text-align: center;
    }
  }
  // .about-the-shelter__description
  &__description {
    p {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #4c4c4c;
    }
    p:not(:last-child) {
      margin-bottom: 25px;
      @media (max-width: $bp5+px) {
        margin-bottom: 22px;
      }
    }
    @media (max-width: $bp5+px) {
      text-align: justify;
    }
  }
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  text-align: center;
  letter-spacing: 0.06em;

  /* color-dark-l */

  color: #545454;
  @media (max-width: $bp5+px) {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
}

.pets {
  // .pets__title
  background-color: #f6f6f6;
  &__container {
    @include flexColumn();

    @media (max-width: $bp4+px) {
      align-items: center;
    }
  }

  &__title {
    min-width: (400/1200) * 100%;
    margin: 0 auto;
    padding: 76px 0 60px 0;
    @media (max-width: $bp2+px) {
      min-width: (400/708) * 100%;
    }
    @media (max-width: $bp5+px) {
      padding: 42px 0;
    }
  }
  // .pets__slider
  &__slider {
    display: flex;

    align-items: center;
    margin-bottom: 60px;
    @media (max-width: $bp5+px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 45px;
    }
  }
  // .pets__left-button
  &__left-button {
    min-width: 52px;
    min-height: 52px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: #f1cdb3;
    }
    @media (max-width: $bp5+px) {
      margin-top: 20px;

      margin-right: 80px;
    }
  }
  // .pets__items
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    margin-left: 53px;
    margin-right: 53px;
    @media (max-width: $bp2+px) {
      margin-left: 12px;
      margin-right: 12px;
      gap: 40px;
    }
    @media (max-width: $bp5+px) {
      order: -1;
    }
  }
  // .pets__item
  &__item {
    min-width: (270/1200) * 100%;
    background-color: #fafafa;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: #ffffff;
      .pets__button a {
        background-color: #f1cdb3;
      }
    }
    &__button {
      background-color: #cdcdcd;
    }
    @media (max-width: $bp1+px) {
      &:last-child {
        display: none;
      }
    }
    @media (max-width: $bp2+px) {
      min-width: (270/708) * 100%;
    }
    @media (max-width: $bp4+px) {
      &:nth-child(2) {
        display: none;
      }
    }
    @media (max-width: $bp5+px) {
      width: 270px;
    }
  }
  // .pets__img
  &__img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  // .pets__name
  &__name {
    margin: 25px 0 30px 0;
    display: flex;
    justify-content: center;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    @media (max-width: $bp2+px) {
      margin: 20px 0 30px 0;
    }
  }
  // .pets__button
  &__button {
    display: flex;
    justify-content: center;
    // margin-left: 42px;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor: pointer;
    }
  }

  // .pets__right-button
  &__right-button {
    min-width: 52px;
    min-height: 52px;

    border: 2px solid #f1cdb3;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor: pointer;
      background-color: #f1cdb3;
    }
    @media (max-width: $bp5+px) {
      margin-top: 20px;
    }
  }

  &__main-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    @media (max-width: $bp5+px) {
      margin-bottom: 42px;
    }
  }
}

.help {
  // .help__title
  &__container {
    @include flexColumn();
  }

  &__title {
    min-width: (320/1200) * 100%;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    // padding-left: 50px;
    // text-align: center;
    letter-spacing: 0.06em;
    @media (max-width: $bp3+px) {
      min-width: (308/708) * 100%;
    }
    @media (max-width: $bp5+px) {
      padding: 42px 0;
    }
  }
  // .help__list
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    @media (max-width: $bp3+px) {
      // padding: 0 38px;
      column-gap: 60px;
    }
    @media (max-width: $bp5+px) {
      justify-content: flex-start;
      column-gap: 30px;
      row-gap: 30px;
      margin-bottom: 42px;
    }
  }
  // .help__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $bp3+px) {
      flex: 0 1 170px;
    }
    @media (max-width: $bp4+px) {
      flex: 0 1 130px;
      justify-content: flex-start;
    }
    @media (max-width: $bp4+px) {
      & img {
        width: 50/130 * 100%;
      }
    }
  }

  // .help__img
  &__img {
    margin-bottom: 30px;
    @media (max-width: $bp4+px) {
      margin-bottom: 20px;
    }
  }
  // .help__description
  &__description {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;

    @media (max-width: $bp4+px) {
      font-size: 15px;
      line-height: 110%;
    }
  }
}

.donation {
  background-color: #f6f6f6;
  // .donation__container
  &__container {
  }
  // .donation__two-columns
  &__two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding: 80px 0 100px 0;

    @media (max-width: $bp3+px) {
      flex-direction: column-reverse;
      row-gap: 60px;
      padding-bottom: 90px;
    }
    @media (max-width: $bp3+px) {
      flex-direction: column-reverse;
      row-gap: 60px;
      padding-bottom: 90px;
    }
    @media (max-width: $bp5+px) {
      padding: 42px 0 42px 0;
    }
  }
  // .donation__img
  &__img {
    // padding: 0px 0 11px 0;
    max-width: (505/1200) * 100%;
    @media (max-width: $bp3+px) {
      max-width: (505/708) * 100%;
    }
    @media (max-width: $bp3+px) {
      width: (300/320) * 100%;
    }
    & img {
      width: 100%;
    }
  }
  // .donation__content
  &__content {
    max-width: (380/1200) * 100%;
    @media (max-width: $bp3+px) {
      max-width: (380/708) * 100%;
    }

    @media (max-width: $bp5+px) {
      max-width: (300/320) * 100%;
    }
  }
  // .donation__title
  &__title {
    text-align: left;
    margin-bottom: 20px;
    @media (max-width: $bp5+px) {
      text-align: center;
    }
  }
  // .donation__name-of-bank
  &__name-of-bank {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    margin-bottom: 20px;
    @media (max-width: $bp5+px) {
      letter-spacing: 0;
    }
  }
  // .donation__card-number
  &__card-number {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    min-width: 349px;

    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    margin-bottom: 20px;
    background: #f1cdb3;
    border-radius: 9px;
    padding: 10px 15px;
    margin-right: 31px;
    @media (max-width: $bp4+px) {
      min-width: 100%;
    }

    @media (max-width: $bp5+px) {
      font-size: 15px;
      line-height: 110%;
    }
  }
  // .donation__description
  &__description {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    display: flex;
    align-items: center;

    /* color-dark-m */

    color: #b2b2b2;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.footer {
  background: linear-gradient(to right, #5b483a, #262425);
  // .footer__container
  &__container {
  }
  // .footer__three-columns
  &__three-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    @media (max-width: $bp3+px) {
      padding: 0 34px;
    }
    @media (max-width: $bp4+px) {
      justify-content: center;
    }
    @media (max-width: $bp5+px) {
      padding: 0;
    }
  }
  // .footer__column
  &__column {
    & a {
      display: flex;
      justify-content: space-between;

      padding-right: 30px;
      @media (max-width: $bp5+px) {
        padding-right: 0;
      }
    }

    &:first-child {
      @media (max-width: $bp3+px) {
        margin-top: 15px;
        margin-right: 30px;
        flex: 0 1 44%;
        .footer__second-column-item {
          padding-right: 40px;
        }
      }
      @media (max-width: $bp3+px) {
        margin-top: 15px;
        margin-right: 30px;
        flex: 0 1 44%;
        .footer__second-column-item {
          padding-right: 40px;
          @media (max-width: $bp5+px) {
            padding-right: 0;
          }
        }
        @media (max-width: $bp5+px) {
          padding-right: 0;
        }
      }
      @media (max-width: $bp3+px) {
        margin-top: 0px;
        margin-right: 0px;
      }
    }
    &:nth-child(2) {
      margin-top: 10px;
      .footer__column-title {
        margin-bottom: 30px;
      }
      .footer__first-column-item {
        margin-bottom: 30px;
      }
      @media (max-width: $bp3+px) {
        .footer__first-column-item {
          padding-right: 5px;
        }

        margin-top: 15px;
        flex: 0 1 47%;
      }
      @media (max-width: $bp4+px) {
        flex: none;
      }
    }
    &:last-child {
      @media (max-width: $bp3+px) {
        margin: 0 auto;
      }
      @media (max-width: $bp5+px) {
        margin-top: 45px;
        text-align: center;
        width: (310/320) * 100%;
      }
      & img {
        width: 100%;
      }
    }
  }
  // .footer__column-title
  &__column-title {
    margin-top: 16px;
    margin-bottom: 40px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.06em;

    /* color-light-xl */

    color: #ffffff;

    @media (max-width: $bp5+px) {
      font-size: 25px;
      line-height: 130%;
      text-align: center;
    }
  }
  // .footer__first-column-item
  &__first-column-item {
    display: flex;
    align-items: center;

    margin-bottom: 44px;

    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    letter-spacing: 0.06em;

    /* color-primary */

    color: #f1cdb3;
    @media (max-width: $bp5+px) {
      text-align: center;
    }
    a {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      /* identical to box height, or 23px */

      letter-spacing: 0.06em;

      /* color-primary */

      color: #f1cdb3;
    }
  }
  // .footer__second-column-item
  &__second-column-item {
    display: flex;
    align-items: center;

    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    letter-spacing: 0.06em;

    /* color-primary */

    color: #f1cdb3;
    margin-bottom: 60px;
    @media (max-width: $bp5+px) {
      margin-bottom: 20px;
    }
    a {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      /* identical to box height, or 23px */

      letter-spacing: 0.06em;

      /* color-primary */

      color: #f1cdb3;
    }
  }
}
