@import "../../assets/styles/fonts";
@import "../../assets/styles/forms";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24/15 * 100%;
  color: #4c4c4c;
}

body {
}

.wrapper {
  display: flex;
  flex-direction: column;
  // padding: 0 40px;
}
// break points
$bp1: 1279;
$bp2: 1086;
$bp3: 992;
$bp4: 767;
$bp5: 320;

.container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 40px;
  @media (max-width: $bp3+px) {
    & {
    max-width: 708px;
    padding: 0 30px;
    }
  }
}

.main {
  flex: 1 1 auto;
}


.header {
  background: linear-gradient(to right, #5b483a, #262425);
  // margin: 60px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (max-width: $bp1+px)  {
      margin-top: 30px;
    }
  }
  // .header__logo
  &__logo {
    display: flex;
    flex-direction: column;
  }
  // .header__title
  &__title {
    margin-bottom: 10px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-primary */

    color: #f1cdb3;
  }
  // .header__subtitle
  &__subtitle {
    margin: 0;
    padding-left: 4px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  // .header__menu
  &__menu {
    margin-left: auto;
  }
}
.menu {
  // .menu__list
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    // *:first-child {

    // }
    // flex-direction: column;
  }

  // .menu__item
  &__item {
    margin-left: 35px;
    &:first-child a {
      padding-bottom: 3px;
      border-bottom: 3px solid #f1cdb3;
    }
  }

  // &__item

  // .menu__link
  &__link {
    text-decoration: none;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */

    /* color-dark-s */

    color: #cdcdcd;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor:pointer;
    }
  }
}

.main {
}
.main-of-main-page {
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  
}

.start-screen {
  background: linear-gradient(to right, #5b483a, #262425);
  height: (728/1200) * 100%;
  // .start-screen__container
  &__two-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    @media (max-width: $bp3+px) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__container {
  }

  // .start-screen__content
  &__content {
    
    @include flexColumn();
    // justify-content: space-around;
    // max-width: 460/1200 * 100%;
    width: 460/1200 * 100%;
   
    // flex: 1 0 (460/1200) * 100%;
    margin-top: 163px;
    margin-right: 42px;
    // margin-bottom: 243px;
    padding: 0;
    @media (max-width: $bp2+px) {
      
      margin-top: 120px;
    }
    @media (max-width: $bp3+px) {
      width: 460/708 * 100%;
      margin-left: 124px;
      margin-top: 0;
      margin-bottom: 100px;
    }
  }
  // .start-screen__title
  &__title {
    
    margin-bottom: 0px;
    font-family: "Georgia";
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

    // display: flex;
    // align-items: center;

    /* color-light-xl */

    color: #ffffff;
    
  }
  // .start-screen__description
  &__description {
    margin-top: 42px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */

    display: flex;
    align-items: center;

    /* color-dark-s */

    color: #cdcdcd;
  }
  // .start-screen__button
  &__button {
    margin-top: 42px;
    margin-bottom: 0;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: $bp3+px) {
      & {
        display: flex;
        justify-content: center;
      }
    }
  }
  // .start-screen__img
  &__img {
    // height: ;
    width: (698/1200) * 100%;
    margin-bottom: 0;
   
    height: 728px;
    @media (max-width:$bp1+px) {
      height: (728/1200) * 100%;
    }

   
    img {
      width: 100%;
      height: 100%;
      
      object-fit: contain;
     
    }
    @media (max-width: $bp3+px) {
      & {
        margin-left: 139px;
        width: (569/708) * 100%;
        height: 596px;
      }
    }
  }
}


.about-the-shelter {
  // .about-the-shelter__two-columns
  &__two-columns {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 80px 0 95px 0;
    @media (max-width: $bp3+px) {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      gap: 80px;
    }
  }
  // .about-the-shelter__img
  &__img {
  }
  // .about-the-shelter__content
  &__content {
    @include flexColumn();
    padding: 14px 0;
    width: (430/1200) * 100%;
    @media (max-width: $bp3+px) {
      padding: 0;
      width: (430/708) * 100%;
      
    }
  }
  // .about-the-shelter__title
  &__title {
    margin-bottom: 25px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  // .about-the-shelter__description
  &__description {
    p {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #4c4c4c;
    }
    p:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color-dark-l */

  color: #545454;
}

.pets {
  // .pets__title
  background-color: #f6f6f6;
  &__container {
    @include flexColumn();
  }

  &__title {
    max-width: (400/1200) * 100%;
    margin: 0 auto;
    padding: 76px 0 60px 0;
  }
  // .pets__slider
  &__slider {
    
    display: flex;

    align-items: center;
    margin-bottom: 60px;
  }
  // .pets__left-button
  &__left-button {
    min-width: 52px;
    min-height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor: pointer;
      background-color: #F1CDB3;
    }
  }
  // .pets__items
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-left: 53px;
    margin-right: 53px;
  }
  // .pets__item
  &__item {
    min-width: (270/1200) * 100%;
    background-color: #fafafa;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: #FFFFFF;
      .pets__button a {
        background-color: #F1CDB3;
      }
    }
    &__button {
      background-color: #CDCDCD;
    }
    
  }
  // .pets__img
  &__img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  // .pets__name
  &__name {
    margin: 25px 0 30px 0;
    display: flex;
    justify-content: center;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
  }
  // .pets__button
  &__button {
    display: flex;
    justify-content: center;
    // margin-left: 42px;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor: pointer;
    }
  }

  // .pets__right-button
  &__right-button {
    min-width: 52px;
    min-height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    &:hover {
      cursor: pointer;
      background-color: #F1CDB3;
    }
  }

  &__main-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
}

.help {
  // .help__title

  &__title {
    width: (320/1200) * 100%;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    // padding-left: 50px;
    // text-align: center;
    letter-spacing: 0.06em;
  }
  // .help__list
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    // padding: 0 87px;
    // padding-left: 50px;
  }
  // .help__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .help__img
  &__img {
    margin-bottom: 30px;
  }
  // .help__description
  &__description {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
  }
}

.donation {
  background-color: #f6f6f6;
  // .donation__container
  &__container {
  }
  // .donation__two-columns
  &__two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding: 80px 0 90px 0;
  }
  // .donation__img
  &__img {
    // padding: 0px 0 11px 0;
    max-width: (505/1200) * 100%;
  }
  // .donation__content
  &__content {
    max-width: (380/1200) * 100%;
  }
  // .donation__title
  &__title {
    text-align: left;
    margin-bottom: 20px;
  }
  // .donation__name-of-bank
  &__name-of-bank {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    margin-bottom: 15px;
  }
  // .donation__card-number
  &__card-number {
    position: relative;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
    margin-bottom: 15px;
    background: #f1cdb3;
    border-radius: 9px;
    padding: 10px 15px;
    margin-right: 31px;
  }
  // .donation__description
  &__description {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    display: flex;
    align-items: center;

    /* color-dark-m */

    color: #b2b2b2;
    margin-bottom: 20px;
  }
}

.footer {
  background: linear-gradient(to right, #5b483a, #262425);
  // .footer__container
  &__container {
  }
  // .footer__three-columns
  &__three-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    
  }
  // .footer__column
  &__column {
  }
  // .footer__column-title
  &__column-title {
    // margin-top: 16px;
    margin-bottom: 40px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.06em;

    /* color-light-xl */

    color: #ffffff;
  }
  // .footer__first-column-item
  &__first-column-item {
    display: block;
    display: flex;
    align-items: center;
    
    margin-bottom: 44px;
   
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    letter-spacing: 0.06em;

    /* color-primary */

    color: #f1cdb3;
    a {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      /* identical to box height, or 23px */
  
      letter-spacing: 0.06em;
  
      /* color-primary */
  
      color: #f1cdb3;
    }
  }
  // .footer__second-column-item
  &__second-column-item {
    display: block;
    display: flex;
    align-items: center;
    position: relative;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    letter-spacing: 0.06em;

    /* color-primary */

    color: #f1cdb3;
    margin-bottom: 60px;
    a {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      /* identical to box height, or 23px */
  
      letter-spacing: 0.06em;
  
      /* color-primary */
  
      color: #f1cdb3;
    }
  }
}

