@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/georgia/georgia-italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial-regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url(../fonts/arial/arial-italic.ttf);
  font-weight: normal;
  font-style: italic;
}

.btn {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn_transparent {
  background-color: #FAFAFA;
  border: 3px solid #F1CDB3;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #4c4c4c;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(#5b483a), to(#262425));
  background: linear-gradient(to right, #5b483a, #262425);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  margin-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

.header__subtitle {
  margin: 0;
  padding-left: 4px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header__menu {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu__item {
  margin-left: 35px;
}

.menu__item:first-child a {
  padding-bottom: 5px;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  text-decoration: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* color-dark-s */
  color: #cdcdcd;
}

.start-screen {
  background: -webkit-gradient(linear, left top, right top, from(#5b483a), to(#262425));
  background: linear-gradient(to right, #5b483a, #262425);
}

.start-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 38.33333%;
          flex: 1 0 38.33333%;
  margin-right: 42px;
  margin-bottom: 243px;
}

.start-screen__title {
  margin-top: 163px;
  margin-bottom: 0px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  /* color-light-xl */
  color: #ffffff;
}

.start-screen__description {
  margin-top: 42px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* color-dark-s */
  color: #cdcdcd;
}

.start-screen__button {
  margin-top: 42px;
}

.start-screen__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58.16667%;
          flex: 0 1 58.16667%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-the-shelter__two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  padding: 80px 0 95px 0;
}

.about-the-shelter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px 0;
  width: 35.83333%;
}

.about-the-shelter__title {
  margin-bottom: 25px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-the-shelter__description p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.about-the-shelter__description p:not(:last-child) {
  margin-bottom: 25px;
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.pets {
  background-color: #f6f6f6;
}

.pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pets__title {
  max-width: 33.33333%;
  margin: 0 auto;
  padding: 76px 0 60px 0;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
}

.pets__left-button {
  min-width: 53px;
  min-height: 53px;
  border-radius: 25px;
  margin: auto 0;
  background-image: url("../../assets/svg/button_arrow.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.pets__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
  margin-left: 53px;
  margin-right: 53px;
}

.pets__item {
  min-width: 22.5%;
  background-color: #fafafa;
}

.pets__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pets__name {
  margin: 25px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.pets__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.pets__right-button {
  min-width: 53px;
  min-height: 53px;
  border-radius: 25px;
  margin: auto 0;
  background-image: url("../../assets/svg/button_arrow2.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.pets__main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.help__title {
  width: 26.66667%;
  margin: 0 auto;
  padding: 80px 0 60px 0;
  letter-spacing: 0.06em;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__img {
  margin-bottom: 30px;
}

.help__description {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.donation {
  background-color: #f6f6f6;
}

.donation__two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  padding: 80px 0 90px 0;
}

.donation__img {
  max-width: 42.08333%;
}

.donation__content {
  max-width: 31.66667%;
}

.donation__title {
  text-align: left;
  margin-bottom: 20px;
}

.donation__name-of-bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
  margin-bottom: 15px;
}

.donation__card-number {
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
  margin-bottom: 15px;
  background: #f1cdb3;
  border-radius: 9px;
  padding: 10px 15px;
  margin-right: 31px;
}

.donation__description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* color-dark-m */
  color: #b2b2b2;
  margin-bottom: 20px;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#5b483a), to(#262425));
  background: linear-gradient(to right, #5b483a, #262425);
}

.footer__three-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__column-title {
  margin-bottom: 40px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  /* color-light-xl */
  color: #ffffff;
}

.footer__first-column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
}

.footer__second-column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #f1cdb3;
  margin-bottom: 60px;
}
/*# sourceMappingURL=style.css.map */